body {
	padding-top: 70px;
}

.fill {
	height: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.fill img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
}

.jumbotron {
	color: #2c3e50;
	background: #ecf0f1;
}

.navbar-inverse {
	background: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}